<template>
	<li>
		<h2>{{ friend.name }}</h2>
		<button @click="toggleDetails()">Show Details</button>
		<ul v-if="detailsAreVisible">
			<li>Phone: {{ friend.phone}}</li>
			<li>Email: {{ friend.email}}</li>
		</ul>
	</li>
</template>

<script>
export default {
	data() {
		return {
			detailsAreVisible: false
			,friend: {
				id: 'colin'
				,name: 'Colin Hatfield'
				,phone: '416 729-8330'
				,email: 'colin.hatfield@gmail.com'
			}
		};
	}
	,methods: {
		toggleDetails() {
			this.detailsAreVisible = !this.detailsAreVisible;
		}
	}
}
</script>
