<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
	  </section>
	  
	  <section class="container" v-if="result">
		  <h2>Game Over!</h2>
		  <h3>{{ result }}</h3>
		  <button @click="resetGame()">Start New Game</button>
	  </section>

      <section id="controls" v-else=>
        <button @click="attackMonster()">ATTACK</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster()">SPECIAL ATTACK</button>
        <button @click="healPlayer()">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
		<h2>Battle Log</h2>
		<ul>
        	<li v-for="logMessage in logMessages">
				<span :class="{'log--player':logMessage.actionBy==='player','log--monster':logMessage.actionBy === 'monster'}">{{ logMessage.actionBy}}</span>
				
				<span v-if="logMessage.actionType==='heal'">
					 heals: 
					<span class="log--heal">{{ logMessage.actionValue }}</span>
				</span>
				<span v-if="logMessage.actionType==='attack'">
					 attacks: 
					<span class="log--damage">{{ logMessage.actionValue }}</span>
				</span>
			</li>
		</ul>
      </section>
    </div>
  </body>
</html>
