<template>
	<h2>My friends</h2>
	<ul>
		<friend-contact></friend-contact>
		<friend-contact></friend-contact>
	</ul>
</template>

<script>
const app = {
	data() {
		return {
			friends: [
				{
					id: 'colin'
					,name: 'Colin Hatfield'
					,phone: '416 729-8330'
					,email: 'colin.hatfield@gmail.com'
				}
				,{
					id: 'laura'
					,name: 'Laura Novog'
					,phone: '416 624-0100'
					,email: 'laura.novog@gmail.com'
				}
			]
		}
	}
}
export default app

</script>