<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Vue Basics</title>
    	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
    	<link rel="stylesheet" href="styles.css" />
    	<script src="https://unpkg.com/vue@next" defer></script>
    	<script src="app.js" defer></script>
  </head>
  <body>
    	<header>
      		<h1>Vue Course Goals</h1>
    	</header>
    	<section id="user-goal">

      		<h2>My Course Goal</h2>
			<p v-html="courseGoalA"></p>  
			<p>{{ outputGoal() }}</p>
			<p>Learn more about <a v-bind:href="vueLink">VueJS</a>!</p>
			<button @click="increaseCounter(5)">Add</button>
			<button @click="reduceCounter(5)">Reduce</button>
			<button @click="resetCounter()">Reset</button>
			<p>Result: {{ counter }}</p>

			<input type="text" v-model="firstName">
			<input type="text" v-model="lastName">
			<p>{{ fullName }}</p>
			<button @click="resetName()">reset text</button>

			<p>{{ changedGoal }}</p>

    	</section>
  	</body>
</html>
